
@font-face {
    font-family: 'ALK Rex Bold';
    src: url('../fonts/alk-rex-bold-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/alk-rex-bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/alk-rex-bold-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/alk-rex-bold-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/alk-rex-bold-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/alk-rex-bold-webfont.svg#alk_rexbold') format('svg'); /* Legacy iOS */
}

body {
  font-family: 'ALK Rex Bold';
}


.dark {
background-color: #ccc;
padding-bottom: 15px;
}


.px15{
  padding-right: 15px;
  padding-left: 15px;
}
.nope {
  padding-top: 56px;
}
@media  (min-width: 0px) {
.on-text  {

  position:absolute;
  top: 0%;
  right: 0%;

  color: white;
  background-color:rgba(0,0,0,0.3);
  padding-left: 15px;
  padding-right: 15px;
  font-family: 'ALK Rex Bold';

  font-size: 15px;
  max-width: 535px;
}



}

@media  (min-width: 535px) {
.on-text  {

  position:absolute;
  top: 50%;
  right: 0%;
  color: white;
  background-color:rgba(0,0,0,0.3);
  padding-left: 15px;
  padding-right: 15px;
  font-family: 'ALK Rex Bold';

  font-size: 40px;
  max-width: 99999px;
}
}


.mtavari-foto{
  position:relative;
}

.col-12{
  top: 0%;
  right: 0%;
  padding-right: 0px;
  padding-left: 0px;
}

.navbar-nav{
  font-family: 'ALK Rex Bold';
}
.navbar-brand{
  font-family: 'ALK Rex Bold';
}
/* h1 h2  {
  font-family: 'ALK Rex Bold';
} */
.bpg {
    font-family: "BPG Nino Mkhedruli Bold", sans-serif;
}
label {
  font-family: 'ALK Rex Bold';
}
.carousel-caption {
  color: #002db3;
}
.skill{
  border:15px solid;
  border-color:  #ccc;
}
.carousel-control-prev {
  background-color: rgba(204, 204, 204, 0.3);
}
.carousel-control-next{
  background-color: rgba(204, 204, 204, 0.3);
}
img  { width: 100%; }

.description {
 color: black;
 margin-top: 20px;
 margin-bottom: 20px;
 padding: 0px;
 }


/* ჩემი დანამატები */

h3{
  font-size: 18px;
  font-weight: bold;
}

h6 {
  font-size: 12px;
  color: blue;
}






.container1 {

	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
} 


#footer {
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer .footer {
	min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}
#footer h2 {
	color: white;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: .1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}
#footer .social-icon {
	display: flex;
	margin-bottom: 30px;
}
#footer .social-item {
	height: 50px;
	width: 50px;
	margin: 0 5px;
}
#footer .social-item img {
	filter: grayscale(1);
	transition: .3s ease filter;
}
#footer .social-item:hover img {
	filter: grayscale(0);
}
#footer p {
	color: white;
	font-size: 1.3rem;
}





@media only screen and (max-width: 1200px) {
    #contact .contact-items {

        display: flex;
        flex-wrap: wrap;
    }


    .section-title {
        font-size: 2.7rem;

    }
} 




.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  
  /* button-ის მარცხნივ გატანა ვერ გავაკეთე */
  display: inline-block;
  /* display: flex;
  justify-content:flex-end; */

  font-size: 16px;
  margin: 4px 0;
  border-radius: 12px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white; 
  color: black; 
  border: 2px solid black;

  outline: none;
  font-family: "ALK Rex Bold", sans-serif;
}



.button:hover {
  background-color: black;
  color: white;
}



.nav-link {
  padding: 5px 15px !important;
}
.active {
  border-bottom: 2px solid black;
}


.contact_container {
  background-color: #ccc;
  height: 100px;
  line-height: 100px;
  text-align: center;
  width: auto;


  font-size: 20px;
}


.nacrisferi {
  background-color: #ccc !important;
}


@media only screen and (max-width: 472px) {

  .contact_container {
  
    font-size: 15px;
  }


}