section {
    font-family: 'ALK Rex Bold';
}
.spelling {
    font-family: 'ALK Rex Bold';
}

.card-link  {
    color: black !important;
}

.time {
    margin: 0px;
    font-weight: bolder;
    color: grey;
    
}

.who {
    margin: 0px;
    color: grey;
    font-size: 35px;
}

.where {
    margin-bottom: 45px;
    color: grey;
    font-size: 25px;
    
    border-bottom: 1px solid grey;
}

.skills {
    margin-bottom: 10px;
    color: grey;
    font-size: 15px;
}

.skills:hover {
    color: black;
}

.skills_2 {
    margin: 0px;
    color: grey;
    font-size: 25px;
}

.skills_2:hover {
    color:black
}


.programms {
    margin-bottom: 10px;
    color: grey;
    font-size: 25px;

}

.programms_icons {
    width: 85px;
    height: auto;
}
.programms_icons1 {
    margin: 7px;
    width: 70px;
    height: auto;
}

.flags_icons {
    width: 40px;
    height: auto;
}

.time:hover {
    color: black;
}

.who:hover {
    color: black;
}
.where:hover {
    color: black;
}

.programms:hover {
color: black;

}